.App {
  text-align: center;
}
.app__form{
  padding: 20px;
 position: fixed;
 bottom: 20px;
 z-index: 1;
 background-color: #e9e9eb;
 width: 100%;
 margin: 20px;
}
.app__formcontrol{
  display: flex !important;
  flex-direction: row !important;
}
.app__input{
  flex:0.93;
}
.app__iconButton{
  flex: 0;
}
